@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Dela+Gothic+One&display=swap');


.App {
  text-align: center; 
  background-color: #fce6db;
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: #fce6db;
}

 @keyframes topColorBar {
  0% {height: 8vh}
  100% {height: 32vh}
}

section.topColorFull {
  background-color: #fa4700;
  height: 32vh;
  animation: topColorBar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

section.topColor {
  background-color: #fa4700;
  height:8vh;
  padding-top: 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

@keyframes rollBack {
  0% {height: 32vh}
  100% {height: 8vh}
}

section.topColorBack {
  background-color: #fa4700;
  height: 32vh;
  animation: rollBack;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.menu {
  color: #fce6db;
  font-size: 20px;
}

.msg {
  margin-top: 8rem;
  font-family: 'Dela Gothic One', cursive;
  font-size: 84px;
  color: #4a4242;
}

.subtitle, .intro {
  padding: 5rem 4rem 1rem 4rem;
  color: #4a4242;
}

.subtitle h3 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 34px
}

.subtitle p, .intro p {
  text-align: justify;
  text-indent: 1rem;;
  font-size: 28px;
}

.scroll {
  transform: rotate(-90deg);
  position: fixed;
  left: 0
}

nav.vertical {
  flex-direction: column;
  width: 2rem;
  position: fixed;
  right: 5px;
  top: 70vh;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #59554e;
  text-shadow: 1px 1px #59554e
}

a.ga {
  color: #4a4242;
  text-shadow: 1px 1px #59554e
}

a.ga:hover, a.faIcon:hover {
  color: #fa4700
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.myPic {
  grid-column-start: 1;
  justify-self: start;
  max-width: 40vw;
}

.me {
  grid-column-start: 2;
  align-self: center;
}

@keyframes greetings {
  0% {left: 31vw; top: -18vh; background-color: #fce6db}
  20% {background-color: #fce6db}
  40% {background-color: #fce6db}
  60% {background-color: #fce6db}
  80% {background-color: #fce6db}
  95% {background-color: #fce6db}
  100% {left: 66vw; top: -18vh}
}

.square {
  width: 410px;
  height: 75px;
  position: relative;
  animation-name: greetings;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function:linear;
}
