@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Dela+Gothic+One&display=swap');


.App {
  text-align: center; 
  background-color: #f2c185;
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: #f2c185;
}

section.topColor {
  background-color: #bf5656;
  height:10vh;
  padding-top: 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu {
  color: #f2f2f2;
  font-size: 20px;
}

.msg {
  margin-top: 6rem;
  font-family: 'Dela Gothic One', cursive;
  font-size: 84px;
  color: #593c3e;
}

.subtitle {
  padding: 7rem 4rem 1rem 4rem;
  color: #593c3e;
}

.intro {
  padding: 0rem 4rem 1rem 4rem;
  color: #593c3e;
}

.subtitle h3 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 34px
}

.subtitle p, .intro p {
  text-align: justify;
  text-indent: 1rem;;
  font-size: 28px;
}


nav.vertical {
  flex-direction: column;
  width: 2rem;
  position: fixed;
  right: 5px;
  top: 70vh;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #bf5656;
  text-shadow: 1px 1px #593c3e
}

a.ga {
  color: #593c3e;
  text-shadow: 1px 1px #bf5656
}

a.ga:hover, a.faIcon:hover {
  color: #548c8c
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.myPic {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
  max-width: 25vw;
  box-shadow: 5px 5px 5px #593c3e;
}

.me {
  grid-column-start: 2;
  align-self: center;
}

@keyframes greetings {
  0% {left: 18vw; top: -20vh; background-color: #f2c185}
  20% {background-color: #f2c185}
  40% {background-color: #f2c185}
  60% {background-color: #f2c185; width: 300px}
  80% {background-color: #f2c185}
  95% {background-color: #f2c185}
  100% {left: 67vw; top: -20vh; width: 200px}
}

.square {
  width: 100vw;
  height: 80px;
  position: relative;
  animation-name: greetings;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function:linear;
}

.resume h3, .resume h2 {
  text-align: center;
}

.resume {
  text-align: justify;
}

.resume h2 {
  font-size: 28px
}

.resume h4 {
  font-size: 24px;
}

.resume h5 {
  font-size: 22px;
}

.resume p, .resume li {
  font-size: 20px;
}

a.topLink, a.topLink:link, a.topLink:visited, a.topLink:hover, a.topLink:active {
  font-size: 22px;
  color: #f2f2f2;
  padding: 0rem 1rem 0rem 1rem;
  text-shadow: none;
}

a.topLink:hover, a.topLink:active {
  font-weight: bold;
}

nav.horizontalFirst {
  margin-bottom: 1rem;
}

div.gallery {
  margin: 1rem;
  border: 1px solid #593c3e;
  float: left;
  width: 20vw;
}

div.gallery:hover {
  border: 1px solid #bf5656;
  color:#bf5656;
}

div.gallery img {
  width: 100%;
  height: auto
}

div.description {
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.resp {
  justify-content: center;
  padding: 0 2rem;
  float: left;
  width: 18%
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.project {
  font-size: 26px;
  text-align: left;
  margin-left: 5rem;
}

a.projectLink, a.projectLink:link, a.projectLink:visited, a.projectLink:hover, a.projectLink:active {
  font-size: 22px;
  padding: 0.5rem;
  margin-left: 1rem;
  text-shadow: none;
  border: 4px solid #bf5656;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #593c3e;
  background-color: #593c3e;
  color: #f2c185
}

.submitButton, .btn {
  font-size: 22px;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 4px solid #bf5656;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #593c3e;
  cursor: pointer;
  background-color: #593c3e;
  color: #f2c185
}

a.projectLink:hover, a.projectLink:active, .submitButton:hover, .submitButton:active, .btn:hover, .btn:active {
  background-color: #548c8c;
}

.projectNav {
  margin: 3rem 0 3rem 0;
}

.scroll {
  transform: rotate(-90deg);
  position: fixed;
  left: 0rem;
  top: 70vh;
  font-size: 16px;
}

.backToTop {
  transform: rotate(-90deg);
  position: fixed;
  left: 0.5rem;
  top: 90vh;
  font-size: 18px;
  text-shadow: none
}

a.backToTop {
  text-shadow: none;
  color: #593c3e;
}

a.localLink, a.localLink:link, a.localLink:visited, a.localLink:hover, a.localLink:active {
  font-size: 24px;
  padding: 0rem 2rem 0rem 0rem;
  text-shadow: 1px 1px #593c3e
}

a.localLink:hover, a.localLink:active, a.backToTop:hover, a.backToTop:active {
  color: #548c8c;
}

.certificate {
  width: 200px;
  height: 200px;
  float: right;
  object-fit: cover
}

.resumeContainer {
  display: grid;
  grid-template-columns: 70% 30%;
}

.resumePic {
  grid-column-start: 2;
  justify-self: center;
  padding-bottom: 1rem;
}

.text {
  grid-column-start: 1;
}

.me {
  grid-column-start: 2;
  align-self: center;
}

.showIcons {
  color:#593c3e;
  padding: 2rem 1rem 0 1rem;
}

#name, #email, #comments {
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  margin-top: 1rem;
}

label {
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
}

textarea {
  width: 520px;
  height: 200px;
  margin-left: 1.5rem;
}

.formContainer {
  display: inline-grid;
  grid-template-columns: 50% 2rem 50%;
}

#name {
  grid-column: 1;
}

#email {
  grid-column: 3;
}

form {
  margin-top: 2rem;
}

.modal {
  border: 5px solid #fa4700;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 33%;
  padding: 1rem;
  background-color: #f2c185;
  opacity: 0.9;
  color: #0f468c;
}

hr {
  border-top: 2px solid #bf5656;
}

.modalDiploma, .modalCertificate {
  border: 5px solid #593c3e;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10%;
  padding: 1rem;
  background-color: #f2c185;
  opacity: 0.95;
}

.btnSmall {
  font-size: 18px;
  margin: 0 0 1rem 85%;
  padding: 0.5rem;
  border: 4px solid #bf5656;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #593c3e;
  cursor: pointer;
  background-color: #593c3e;
  color: #f2f2f2
}

.btnSmall:hover, .btnSmall:active {
  background-color: #548c8c;
}

.show {
  cursor: pointer;
  background-color: #f2c185;
  border: 0px
}

.certificate {
  box-shadow: 5px 5px 5px #593c3e;
  margin-bottom: 1rem;
}

/* cell phone */
@keyframes greetingsiPhone {
  0% {left: -6vw; top: -10vh; background-color: #f2c185}
  20% {background-color: #f2c185; width: 250px}
  40% {background-color: #f2c185; width: 200px}
  60% {background-color: #f2c185; width: 150px}
  80% {background-color: #f2c185; width: 100px}
  95% {background-color: #f2c185; width: 50px}
  100% {background-color: #f2c185; left: 69vw; top: -10vh; width: 20px}
}

@media only screen
and (min-device-width: 375px), (min-device-width: 414px), (min-device-width: 360px)
and (max-device-width: 812px), (max-device-width: 736px), (max-device-width: 780px)
/* and (-webkit-min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2)  */
{
  .App a.topLink, .App a.projectLink, .App .submitButton {
    font-size: 16px;
  }
  .App p {
    font-size: 18px;
    text-align: left
  }
  .App .intro {
    padding: 0
  }
  .App .msg {
    font-size: 38px;
    margin-top: 3rem;
  }
  .App .intro {
    margin-top: -3rem;
  }
  .App .square {
    width: 300px;
    height: 60px;
    animation-name: greetingsiPhone;
  }
  .App nav.vertical {
    top: 50vh
  }
  .App .container {
    grid-template-columns: 30% 75%;
    margin-left: -1rem;
  }
  .App .myPic {
    align-self: start;
    justify-self: start;
    margin-left: -1rem;
    margin-top: 1.4rem;
  }
  .App .subtitle, .App .subtitle.resume {
    padding: 9rem 3rem 1rem 3rem;
  }
  .App .subtitle h3 {
    font-size: 24px;
  }
  .App nav.horizontalResume {
    width: 300px;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    text-align: center;
    margin-left: 1rem;
  }
  .App a.localLink {
    font-size: 18px;
    padding: 0 1rem 0.75rem 0;
  }
  .App .resume h5 {
    font-size: 20px;
    text-align: left;
  }
  .App .scroll, .App .backToTop {
    display: none
  }
  .App .subtitle.resume {
    padding: 7rem 2rem 1rem 2rem;
    margin-right: 2rem;
  }
  .App ul {
    margin-left: -1rem;
  }
  .App li {
    text-align: left;
  }
  .App .certificate {
    width: 100px;
    height: 100px;
    margin-right: -4rem;
  }
  .App .resumeContainer {
    margin-top: -2rem;
  }
  .App div.description {
    font-size: 12px;
    padding: 0.5rem
  }
  .App li.project {
    font-size: 18px;
    margin-left: 0.5rem;
  }
  .App nav.projectNav {
    margin: 2rem 0 1.5rem -2rem;
    display: flex;
    flex-direction: column;
  }
  .App a.projectLink {
    margin-bottom: 1rem;
  }
  .App .fa-3x {
    margin-top: -1rem;
  }
  .App .fa-5x {
    font-size: 3em;
  }
  .App .showIcons {
    padding: 1rem 2rem 0 0
  }
  .App .icons {
    margin: -1rem 0 0 1.5rem;
  }
  .App .formContainer {
    display: inline-grid;
    grid-template-columns: 160px 1rem 160px;
  }
  .App form {
    margin: 0 auto;
  }
  .App textarea {
    width: 330px;
    height: 150px;
    margin-left: 0;
  }
  .App nav.horizontalFirst {
    display: flex;
    margin-top: -1rem;
  }
  .App section.topColor {
    height: 13vh;
  }
}

/* tablet */

@keyframes greetingsiPad {
  0% {left: 23vw; top: -9vh; background-color: #f2c185}
  20% {background-color: #f2c185; width: 350px}
  40% {background-color: #f2c185; width: 300px}
  60% {background-color: #f2c185; width: 250px}
  80% {background-color: #f2c185; width: 200px}
  95% {background-color: #f2c185; width: 100px}
  100% {background-color: #f2c185; left: 65vw; top: -9vh; width: 50px}
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
  .App a.topLink, .App a.projectLink, .App .submitButton {
    font-size: 32px;
  }
  .App p {
    font-size: 32px;
    text-align: justify;
  }
  .App .intro {
    padding: 2rem
  }
  .App .msg {
    font-size: 64px;
    margin-top: 8rem;
  }
  .App .intro {
    margin-top: 0rem;
  }
  .App .square {
    width: 400px;
    height: 75px;
    animation-name: greetingsiPad;
  }
  .App nav.vertical {
    top: 40vh
  }
  .App .container {
    grid-template-columns: 30% 70%;
    margin-left: 0rem;
  }
  .App .subtitle, .App .subtitle.resume {
    padding: 9rem 5rem 1rem 5rem;
  }
  .App .subtitle h3 {
    font-size: 32px;
    margin-top: 6rem;
  }
  .App nav.horizontalResume {
    width: 100%;
    grid-template-columns: 17% 17% 17% 17% 17% 15%;
  }
  .App a.localLink {
    font-size: 24px;
  }
  .App .resume h5 {
    font-size: 32px;
  }
  .App .subtitle.resume {
    padding: 7rem 2rem 1rem 2rem;
  }
  .App ul {
    margin-left: 0rem;
    margin-right: 1rem;
  }
  .App li {
    font-size: 26px;
    text-align: justify;
  }
  .App .certificate {
    width: 150px;
    height: 150px;
    margin-right: -5rem;
  }
  .App div.description {
    font-size: 16px;
  }
  .App li.project {
    font-size: 28px;
    margin-left: 1rem;
  }
  .App nav.projectNav {
    margin: 4rem 0 3rem 0;
  }
  .App .fa-3x {
    margin-top: 0;
    font-size: 4em
  }
  .App .resp {
    padding: 0 1.5rem;
  }
  .App .gallery {
    width: 15vw;
  }
  .App .fa-5x {
    font-size: 4em;
  }
  .App .icons {
    margin: 0;
  }
  .App .formContainer {
    grid-template-columns: 50% 2rem 50%;
  }
  .App form {
    margin: 4rem auto;
  }
  .App textarea {
    width: 500px;
    height: 200px;
    margin-left: 2rem;
  }
  .App section.topColor {
    height: 10vh;
  }
}