@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Dela+Gothic+One&display=swap');


.App {
  text-align: center; 
  background-color: #fce6db;
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: #fce6db;
}

section.topColor {
  background-color: #fa4700;
  height:10vh;
  padding-top: 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu {
  color: #fce6db;
  font-size: 20px;
}

.msg {
  margin-top: 6rem;
  font-family: 'Dela Gothic One', cursive;
  font-size: 84px;
  color: #4a4242;
}

.subtitle {
  padding: 10rem 4rem 1rem 4rem;
  color: #4a4242;
}

.intro {
  padding: 5rem 4rem 1rem 4rem;
  color: #4a4242;
}

.subtitle h3 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 34px
}

.subtitle p, .intro p {
  text-align: justify;
  text-indent: 1rem;;
  font-size: 28px;
}


nav.vertical {
  flex-direction: column;
  width: 2rem;
  position: fixed;
  right: 5px;
  top: 70vh;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #59554e;
  text-shadow: 1px 1px #59554e
}

a.ga {
  color: #4a4242;
  text-shadow: 1px 1px #59554e
}

a.ga:hover, a.faIcon:hover {
  color: #fa4700
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.myPic {
  grid-column-start: 1;
  justify-self: start;
  max-width: 38vw;
}

.me {
  grid-column-start: 2;
  align-self: center;
}

@keyframes greetings {
  0% {left: 31vw; top: -18vh; background-color: #fce6db}
  20% {background-color: #fce6db}
  40% {background-color: #fce6db}
  60% {background-color: #fce6db}
  80% {background-color: #fce6db}
  95% {background-color: #fce6db}
  100% {left: 66vw; top: -18vh}
}

.square {
  width: 410px;
  height: 75px;
  position: relative;
  animation-name: greetings;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function:linear;
}

.resume h3, .resume h2 {
  text-align: center;
}

.resume {
  text-align: justify;
}

.resume h2 {
  font-size: 28px
}

.resume h4 {
  font-size: 24px;
}

.resume h5 {
  font-size: 22px;
}

.resume p, .resume li {
  font-size: 20px;
}

a.topLink, a.topLink:link, a.topLink:visited, a.topLink:hover, a.topLink:active {
  font-size: 22px;
  color: #fce6db;
  padding: 0rem 1rem 0rem 1rem;
  text-shadow: none;
}

nav.horizontal {
  margin-bottom: 1rem;
}

div.gallery {
  margin: 1rem;
  border: 1px solid #59554e;
  float: left;
  width: 25vw;
}

div.gallery:hover {
  border: 1px solid #fa4700;
  color:#fa4700;
}

div.gallery img {
  width: 100%;
  height: auto
}

div.description {
  padding: 1rem;
  font-size: 24px;
}

.resp {
  justify-content: center;
  padding: 0 1rem;
  float: left;
  width: 30%
}

@media only screen and (max-width: 700px) {
  .resp {
    width: 50%;
    margin: 1rem 0
  }
}

@media only screen and (max-width: 500px) {
  .resp {
    width: 100%
  }
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.project {
  font-size: 26px;
  text-align: left;
  margin-left: 5rem;
}

a.projectLink, a.projectLink:link, a.projectLink:visited, a.projectLink:hover, a.projectLink:active {
  font-size: 22px;
  padding: 0.5rem;
  margin-left: 1rem;
  text-shadow: none;
  border: 4px solid #fa4700;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #59554e;
}

a.projectLink:hover, a.projectLink:active {
  background-color: #fa4700;
  color: #fce6db;
}

.projectNav {
  margin: 3rem 0 3rem 0;
}

.scroll {
  transform: rotate(-90deg);
  position: fixed;
  left: 0rem;
  top: 70vh;
  font-size: 16px;
}

.backToTop {
  transform: rotate(-90deg);
  position: fixed;
  left: 0.5rem;
  top: 90vh;
  font-size: 18px;
  text-shadow: none
}

a.backToTop {
  text-shadow: none;
  color: #4a4242;
}

a.localLink, a.localLink:link, a.localLink:visited, a.localLink:hover, a.localLink:active {
  font-size: 24px;
  padding: 0rem 2rem 0rem 0rem;
  text-shadow: 1px 1px #59554e
}

a.localLink:hover, a.localLink:active, a.backToTop:hover, a.backToTop:active {
  color: #fa4700;
}

.certificate {
  width: 200px;
  height: 200px;
  float: right;
  object-fit: cover
}

.resumeContainer {
  display: grid;
  grid-template-columns: 70% 30%;
}

.resumePic {
  grid-column-start: 2;
  justify-self: center;
  padding-bottom: 1rem;
}

.me {
  grid-column-start: 2;
  align-self: center;
}

.certificate {
  box-shadow: 5px 5px 5px #59554e;
  margin-bottom: 1rem;
}